@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
        margin: 0;
        padding: 0;
        outline: none;
        border: none;
        text-decoration: none;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
}
body{
  background-color: #1a291a;
  color: #F8F1E7;
}
html::-webkit-scrollbar{
  width: .6rem;
}
html::-webkit-scrollbar-track{
  background:black
}
html::-webkit-scrollbar-thumb{
  background: gold;
  border-radius: 50px;
}
.hero{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.video-background{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}
.overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #172417ad;
}
.menu{
  z-index: 1;
}
.menu-btn {
  background: none;
  border: none;
  color: #F8F1E7;
  font-size: 24px;
  cursor: pointer;
}
.logo {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: gold;
}

.icons a {
  color: #F8F1E7;
  margin-left: 20px;
  font-size: 20px;
  text-decoration: none;
}

.icons a:hover {
  color: gold;
}

.hero-text {
  color: #F8F1E7;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight:400;
  max-width: 80%;
  text-align: center;
  height: 20rem;
  margin-left: 120px;
}
.hero-text p {
  font-size: 1em;
  margin-top: 0.5rem;
  color: #f8f1e7;
}
.btn {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  background: rgba(255, 217, 0, 0.992);
  color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn:hover {
  background: #ffc400;
  transform: scale(1.05);
}
.menu {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(10, 10, 10, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 25px;
  background: none;
  border: none;
  color: #F8F1E7;
  cursor: pointer;
}
.menu ul {
  list-style: none;
  padding: 0;
}
.menu ul li {
  padding: 15px 20px;
}
.menu ul li a {
  color: #F8F1E7;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  transition: 0.3s;
}
.menu ul li a:hover {
  color: gold;
}

.lending-p-footer p{
  text-align: center;
}
.overlay .content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0; 
  margin-left: 4rem;
  width: 90%
}
.models-page h1{
  text-align: center; 
  text-transform: uppercase; 
  font-weight: 500;
  margin-top: 1.4rem;
  color: gold;
}
.models-page .row{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: .7rem;
  margin-right: 2rem;
  padding: .7rem;
}
 .models-page .card{
  background-color: #d2cfcf;
  position: relative;
  width: 360px;
  margin-left: 2rem;
  margin-top: 2rem;
  border-radius: 10px;
  overflow:hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor:pointer;
  color: #000000;
  text-align: start;
}
.models-page .card:hover{
  transform: translateY(-5px);
  box-shadow: 0 0 17px rgba(255, 215, 0, 0.7);
}
.models-page .car-image, .car-video{
  width: 100%;
  height: auto;
  display: block;
  
}
.models-page .car-video{
  display: none;
}
.models-page .card:hover .car-image{
  display: none;
}
.models-page .card:hover .car-video{
  display: block;
}

.card-content {
  position: relative;
  width: 100%;
  height: 300px; 
  overflow: hidden;
}

.car-image, .car-video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.models-page .card h3, p{
  margin-top: 5px;
  margin-left: .5rem;
}
.models-page .row .card .btnpkg {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 10px; 
}

.models-page .row .card .btnpkg button {
  margin-left: 1rem;
  margin-right: .6rem;
  margin-bottom:10px;
  max-width: 48%; 
  padding: 10px 15px;
  text-align: center;
  background-color: #f2e318;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 15px;
  transition: background 0.3s ease;
}
.models-page .row .card .btnpkg button:hover {
  background-color: rgba(255, 215, 0, 0.7); 
}

.models-footer .container{
  display: flex;
  height: 100%;
  flex-direction: column;
  margin-top: 7rem;
}
.models-footer .row{
  max-width: 90rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  padding-left: 3rem;
  color: #f8f1e7;
  text-decoration: none;
  align-items: center;
}
.models-footer .row > div{
  flex: 1;
  min-width: 200px; 
  margin: 10px;
}
.models-footer h2 {
  margin-bottom: 10px;
  font-size: 1.2rem; 
  text-transform: capitalize;
}
.models-footer a, .models-footer p {
  display: block; 
  margin-top: 12px;
  color: inherit;
  text-decoration: none;
}
.models-footer a:hover{
  color: gold;
}
.footer-card{
  height: 150px;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  text-align: start;
  padding-left: 4rem;
} 
.footer-card p{
  margin-left:-.1rem;
}
.map-container {
  width: 100%;
}
.models-footer .rights{
  text-align: center;
  color: #f8f1e7;
  padding-left: 3rem;
}
.footer-icons{
  padding-bottom: 5rem;
  padding-left: 4rem;
}
.footer-icons i{
  margin-top: 1rem;
  padding-right: 2rem;
}
.footer-icons i:hover{
  color: gold;
}
.contact  .overlay {
  padding: 2rem;
  position: relative;
  z-index: 0; 
  max-width: 100%;
  justify-content: center;
  text-align: center;
}
.contact  .overlay h1 {
  font-size: 3rem;
  font-weight: 400;
  color: gold;
}
.contact .overlay p{
  text-align:start;
  padding-left: 20px;
  padding-bottom: 10px;
}
.contact .container-f{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 2rem;
  padding: 3rem;
  text-align: center;
}
.contact .container-f .container-form{
  padding-top: 2rem;
  max-width: 100%;
}
.contact .container-f .container-form input,
.contact .container-f .container-form textarea{
  width: 150%;
}
.contact .container-f .container-form h1{
margin-left: 8rem;
margin-bottom: 1.3rem;
}
.contact .container-f .container-form button{
  margin-left: 7rem;
  padding: 1.0rem;
}
.contact .container-f .extrainfo{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  line-height: 3rem;
  padding: 2rem;
  font-size: 1.2rem;
  justify-content: center;
}
.contact .container-f .extrainfo .contact-icon {  
  display: flex;
  justify-content: center;
}
.contact .container-f .extrainfo .contact-icon i{
  margin-top: 1.3rem;
  margin-right: .5rem;
}
.contact form {
  width: 50%;
  margin: 0 auto;
}

.contact label {
  margin-bottom: .5rem;
  display: block;
  color: #3e4455;
}

.contact .input-control {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem;
  width: 100%;
  border-radius: 14px;
}

.contact .contact-msg {
  border-radius: 14px;
  height: 150px;
  line-height: 1.2;
  padding: 20px 30px;
  width: 100%;
  resize: none;
}

.contact .input-control:focus-visible,
.contact .contact-msg:focus-visible {
  outline: none;
}

.contact .input-control:hover,
.contact .contact-msg:hover {
    border: 2px solid gold;
}

.contact .loader{
  padding: 10px;
  color: #f8f1e7;
  margin-top: 10px;
  text-align: start;
  display: none;
}
.contact .loader.show{
  display: block;
}
.loader i{
  color: #F8F1E7;
  animation: rotateme .3s linear infinite;
}

@keyframes rotateme {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.form-message{
  display: none;
  width: 100%;
  background-color: #1a291a;
  margin-top: 10px;
  text-align: center;
}
.form-message.show{
  display: block;
}
.success-msg{
  color: green;
  line-height: 3;
}
.fail-msg{
  color: red;
  line-height: 3;
}